
.dictionary-bar {
  border-top: 1px rgba(211, 211, 211, 1) solid;
  border-bottom: 1px rgba(211, 211, 211, 1) solid;
}

.btn {
  padding: 0;
}

.infobox h6 {
  margin: 0;
}

.part-of-speech-heading {
  font-size: small;
}

.infobox {
  font-size: small;
}

@media (min-width: 402px) {
  .infobox {
    height: 380px;
    width: 380px;
  }
}