.dictionary-bar {
  border-top: 1px rgba(211, 211, 211, 1) solid;
  border-bottom: 1px rgba(211, 211, 211, 1) solid;
}

.infobox .btn {
  padding: 0;
}

.infobox h5, .infobox h6 {
  margin: 0;
}

.part-of-speech-heading, .infobox, .btn-dict-bar {
  font-size: small;
}

.btn-lang-bar {
  font-size: smaller;
}

.word-span {
  cursor: pointer;
}

.infobox-text-input {
  width: 50%;
}

.text-input-toggler {
  margin: 0 0.25em;
}

@media (min-width: 402px) {
  .infobox {
    height: 380px;
    width: 380px;
  }
}